element.style {
}
html, body {
    padding: 0;
    margin: 0;
    border: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/


element.style {
}
media="print, screen and (min-width: 768px)"
.area-header-brand {
    height: 80px;
    min-width: 1056px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
article, aside, footer, header, nav, section {
    display: block;
}
user agent stylesheet
header {
    display: block;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



/*----------------------------------------------------------------------------------------------------------
*/
/*main
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
.area-header-brand ._main {
    border-top: 3px #d2000f solid;
    border-bottom: 1px #d2000f solid;
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._main {
    height: 80px;
}
.area-header-brand ._main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1;
    z-index: 1000;
    border-top: 3px #ff7200 solid;
    border-bottom: 1px #ff7200 solid;
    min-width: 320px;
    background-color: #fff;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



/*----------------------------------------------------------------------------------------------------------
*/
/*wrap
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._wrap {
    width: 1056px;
    min-width: 1056px;
    margin: 0 auto;
}
.area-header-brand ._wrap {
    position: relative;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.area-header-brand ._main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1;
    z-index: 1000;
    border-top: 3px #ff7200 solid;
    border-bottom: 1px #ff7200 solid;
    min-width: 320px;
    background-color: #fff;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*----------------------------------------------------------------------------------------------------------
*/
/*_nav
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._main ._navi {
    position: absolute;
    top: 0;
    right: 210px;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.area-header-brand ._main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1;
    z-index: 1000;
    border-top: 3px #ff7200 solid;
    border-bottom: 1px #ff7200 solid;
    min-width: 320px;
    background-color: #fff;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*----------------------------------------------------------------------------------------------------------
*/
/*  ul
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-brand ul, .area-header-brand li {
    list-style: none;
}
.area-header-brand ul, .area-header-brand li, .area-header-brand p, .area-header-brand h1 {
    padding: 0;
    margin: 0;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.area-header-brand ._main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1;
    z-index: 1000;
    border-top: 3px #ff7200 solid;
    border-bottom: 1px #ff7200 solid;
    min-width: 320px;
    background-color: #fff;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._main ._navi ul:after {
    content: "";
    clear: both;
    display: table;
}

/*----------------------------------------------------------------------------------------------------------
*/
/*  li btn menuw
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._main ._navi li {
    float: left;
    margin: 0 20px 0 0;
}
.area-header-brand ._main ._navi li {
    position: relative;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-brand ul, .area-header-brand li {
    list-style: none;
}
.area-header-brand ul, .area-header-brand li, .area-header-brand p, .area-header-brand h1 {
    padding: 0;
    margin: 0;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.area-header-brand ._main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1;
    z-index: 1000;
    border-top: 3px #ff7200 solid;
    border-bottom: 1px #ff7200 solid;
    min-width: 320px;
    background-color: #fff;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*----------------------------------------------------------------------------------------------------------
*/
/* a
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._main ._navi li a {
    padding: 0 0 0 20px;
    line-height: 76px;
}
.area-header-brand ._main ._navi li a {
    position: relative;
    display: block;
    display: block;
    font-weight: bold;
    position: relative;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-brand a {
    color: #000;
    text-decoration: none;
    transition-duration: 0.2s;
}
.area-header-corporate a, .area-header-brand a, .area-contents a, .area-footer a {
    color: #000;
    text-decoration: none;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.area-header-brand ul, .area-header-brand li {
    list-style: none;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.area-header-brand ._main {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    line-height: 1;
    z-index: 1000;
    border-top: 3px #ff7200 solid;
    border-bottom: 1px #ff7200 solid;
    min-width: 320px;
    background-color: #fff;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.area-header-brand ._main ._navi li._btn-menu a::before {
    content: "";
}
.area-header-brand ._main ._navi li a::before {
    color: #d2000f;
}
media="print, screen and (min-width: 768px)"
.area-header-brand ._main ._navi li a::before {
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}
.area-header-brand ._main ._navi li a::before {
    font-family: 'skylark';
    line-height: 1;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "";
    color: #ff7200;
}

/*----------------------------------------------------------------------------------------------------------
*/
/* area_contents
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
media="print, screen and (min-width: 768px)"
.area-contents {
    padding-bottom: 50px;
    min-width: 1056px;
}
.area-contents {
    font-size: 16px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
user agent stylesheet
div {
    display: block;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;



/*----------------------------------------------------------------------------------------------------------
*/
/* bland index


*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
@media (min-width: 768px), print
.brand-index-mv {
    overflow: hidden;
}
.brand-index-mv {
    text-align: center;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.area-contents {
    font-size: 16px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}



/*----------------------------------------------------------------------------------------------------------
*/
/*mod-wrap
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
@media (min-width: 768px), print
.mod-wrap {
    width: 1056px;
    min-width: 1056px;
    margin: 0 auto;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.brand-index-mv {
    text-align: center;
}
.area-contents {
    font-size: 16px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*----------------------------------------------------------------------------------------------------------
*/
/* js-top-kv
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.brand-index-mv {
    text-align: center;
}
.area-contents {
    font-size: 16px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/*----------------------------------------------------------------------------------------------------------
*/
/* items
*/
/*----------------------------------------------------------------------------------------------------------
*/
element.style {
}
.brand-index-mv ._items {
    padding: 0;
    margin: 0;
    list-style: none;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.brand-index-mv {
    text-align: center;
}
.area-contents {
    font-size: 16px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
@media (min-width: 768px), print
.brand-index-mv ._items.slick-slider::before {
    right: 100%;
}
@media (min-width: 768px), print
.brand-index-mv ._items.slick-slider::before, .brand-index-mv ._items.slick-slider::after {
    content: "";
    position: absolute;
    z-index: 1000;
    height: calc(100% - 60px);
    width: 2000px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
}
@media (min-width: 768px), print
.brand-index-mv ._items.slick-slider::after {
    left: 100%;
}
@media (min-width: 768px), print
.brand-index-mv ._items.slick-slider::before, .brand-index-mv ._items.slick-slider::after {
    content: "";
    position: absolute;
    z-index: 1000;
    height: calc(100% - 60px);
    width: 2000px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
}


/*----------------------------------------------------------------------------------------------------------
*/
/*text-align center
*/
/*----------------------------------------------------------------------------------------------------------
*/

element.style {
    text-align: center;
}
.area-header-corporate *:lang(ja), .area-header-brand *:lang(ja), .area-contents *:lang(ja), .area-footer *:lang(ja) {
    word-break: break-all;
    word-wrap: break-word;
}
.area-header-corporate *, .area-header-brand *, .area-contents *, .area-footer * {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.area-contents {
    font-size: 16px;
}
.area-header-corporate, .area-header-brand, .area-contents, .area-footer {
    box-sizing: border-box;
    line-height: 1.6;
    position: relative;
    color: #000;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/


/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/


/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/


/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/


/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/


/*----------------------------------------------------------------------------------------------------------
*/
/*header
*/
/*----------------------------------------------------------------------------------------------------------
*/







