/*
CSS / サイト共通 -->

<!--   <link href="/site_resource/common/css/libs/normalize.css" rel="stylesheet
<link href="/site_resource/common/css/fonts.css" rel="stylesheet
<link href="/site_resource/common/css/headerfooter.css" rel="stylesheet
<link href="/site_resource/common/css/headerfooter_pc.css" rel="stylesheet" media="print, screen and (min-width:768px)
<link href="/site_resource/common/css/headerfooter_sp.css" rel="stylesheet" media="screen and (max-width:767px) -->

<!-- CSS / ブランド共通 -->
<!-- 
<link href="/site_resource/common/css/libs/slick.css" rel="stylesheet
<link href="/site_resource/common/css/brand/module.css" rel="stylesheet
<link href="/site_resource/common/css/brand/common.css" rel="stylesheet
<link href="/site_resource/common/css/brand/pages.css" rel="stylesheet -->

<!-- CSS / ブランド別 -->

<!-- <link href="/site_resource/gusto/css/color.css" rel="stylesheet -->





<!-- body .page-brand-index -->

<!-- contents -->
<!-- .area-contents -->



<!-- KV -->





<!-- 

.brand-index-mv
.mod-wrap
.js-top-kv
._items js-list-topKv
._item mod-hover
href="https://www.skylark.co.jp/company/store_ventilation.html" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_info_A_gt.png" alt="店内換気
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>

._item mod-hover
href="https://www.youtube.com/watch?v=TSNnMcBXSI0" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_info_A.png" alt="新型コロナウィルス感染拡大予防の取り組み
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>

._item mod-hover
href="/link/takuhai.html" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_info_RS.png" alt="すかいらーくグループの宅配
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>

._item mod-hover
href="/link/takeout.html" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_to.png" alt="すかいらーくのお持ち帰り
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>

._item mod-hover
href="/online_shopping/index.html" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_online_shopping.png" alt="すかいらーくグループの通信販売
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>

._item mod-hover
href="/gotoeat_ticket/index.html" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_gotoeat_ticket.png" alt="GO TO Eatキャンペーン
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>

._item mod-hover
href="https://www.youtube.com/watch?v=O17Mvl4u_6w&amp;feature=youtu.be" target="_blank
src="/gusto/pk637h000005l6xn-img/kv_img_info_D.png" alt="すかいらーくは、フードロス削減のため、食べきれなかったお料理のお持ち帰りを推奨しています。お持ち帰り用の容器をご用意しております。
._more" style="font-size: 1.0rem; padding: 6px 10px 3px 20px;詳しくはこちら</p>





style="text-align: center;

._en mod-text-en" style="color: #990000重要なお知らせ</span>
._ja corporate-index-visuals" style="margin: 10px;margin-bottom: 30px;
target="_blank" href="https://www.skylark.co.jp/company/news_covid19.html  " .mod-show-pc" style="background-color: #990000; border-radius: 7px; font-size: 1.0em; color: white; padding: 10px;新型コロナウィルス感染拡大に伴う対応について

target="_blank" href="https://www.skylark.co.jp/company/news_covid19.html  " .mod-show-sp" style="background-color: #990000; border-radius: 7px; font-size: 0.6em; color: white; padding: 5px;新型コロナウィルス感染拡大に伴う対応について








.brand-index-abouts-wapper" style="background-image: url(/うんこ/img/about_bg.jpg)



.brand-index-about mod-link-color-brand
.mod-wrap mod-wrap-sp
src="/site_resource/gusto/images/about_ttl.png" alt="知ってた!? ガストのあれこれ
.mod-grid02

._item
href="/gusto/flyer/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_flyer.png" alt="最新チラシ公開中


._texts
._cap mod-link-arrow最新チラシ公開中</p>._txt最新チラシはこちら。随時更新いたします。ご来店の前やお持ち帰りご購入前にぜひチェックしてください！</p>




._item
href="/gusto/menu/fair/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_fair.png" alt="暑さ乗り切る！！彩り夏ごはん


._texts
._cap mod-link-arrow暑さ乗り切る！！彩り夏ごはん</p>._txt「釜あげしらすとオクラの夏ごはん」や「チーズINビビンバーグごはん」などをお楽しみください。</p>




._item
href="/gusto/tv/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_tv.png" alt="番組情報


._texts
._cap mod-link-arrow番組情報</p>._txt7月11日（日）放送のTBS『坂上&amp;指原のつぶれない店』でガストのメニューが紹介されました！</p>




._item
href="/to_recommend/index.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_tors_fusion.png" alt="お持ち帰り＆宅配グルメ特集


._texts
._cap mod-link-arrowお持ち帰り＆宅配グルメ特集</p>._txtおうちで楽しむ！すかいらーくグループのお持ち帰り＆宅配グルメを大特集！</p>




._item
href="/gusto/menu/dessert/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_dessert.png" alt="マンゴースイーツ&amp;かき氷


._texts
._cap mod-link-arrowマンゴースイーツ&amp;かき氷</p>._txtとろけるマンゴースイーツとかき氷をお楽しみください。</p>




._item
href="/gusto/paper_menu/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_paper.jpg" alt="最新メニュー公開中


._texts
._cap mod-link-arrow最新メニュー公開中</p>._txt最新メニューはこちら。随時更新いたします。ご来店の前やお持ち帰りご購入前にぜひチェックしてください！</p>




._item
href="/link/takeout.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_03.png" alt="ガストのお持ち帰り


._texts
._cap mod-link-arrowガストのお持ち帰り</p>._txtインターネットで注文！ショップで受け取り！</p>




._item
href="/link/takuhai.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_delivery_gt.png" alt="ガストの宅配


._texts
._cap mod-link-arrowガストの宅配</p>._txtすかいらーくの宅配サイトはこちらから！<br>
お得な割引クーポン掲載中！ぜひ、ご利用ください。</p>




._item
href="https://delivery.skylark.co.jp/news/app_unagi2021" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_tors_unagi.png" alt="【数量限定】うなぎご予約承り中


._texts
._cap mod-link-arrow【数量限定】うなぎご予約承り中</p>._txt7月28日（水）は丑の日！すかいらーくグループ各店のテイクアウト・宅配うなぎメニューをご紹介！</p>




._item
href="/gusto/menu/karayoshi/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_karayoshi.png" alt="から好しのから揚げ


._texts
._cap mod-link-arrowから好しのから揚げ</p>._txt『から揚げ専門店』から好しのから揚げがガストで販売中！店内飲食はもちろん、テイクアウトでも宅配でもOK！</p>




._item
href="/gusto/menu/rei_pizza/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_rei_pizza.jpg" alt="ガストの冷凍ピザ


._texts
._cap mod-link-arrowガストの冷凍ピザ</p>._txtガスト全店で販売開始！ガストの冷凍ピザがお持ち帰りできます！</p>




._item
href="/online_shopping/index.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_online_shopping.png" alt="すかいらーくグループの通販


._texts
._cap mod-link-arrowすかいらーくグループの通販</p>._txtすかいらーくグループの通信販売スタート！<br>
レストランの人気メニューをご自宅でお楽しみください。</p>




._item
href="/gotoeat_ticket/index.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_gotoeat_ticket.png" alt="全ブランドでお食事券をご利用いただけます！


._texts
._cap mod-link-arrow全ブランドでお食事券をご利用いただけます！</p>._txt※一部店舗ではご利用いただけません<br>
※山梨県の店舗はご利用いただけません</p>




._item
href="/premium_ticket/store.pdf" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_premium_ticket.png" alt="地域振興券（プレミアム付 商品券）


._texts
._cap mod-link-arrow地域振興券（プレミアム付 商品券）</p>._txtご利用可能な店舗と商品券については「一覧表（PDF）」でご確認をお願いいたします。</p>






</section>

.brand-common-section brand-index-campaign mod-link-color-brand
.mod-wrap mod-wrap-sp
.brand-index-subtitle
<h2 ._title _title-campain
._en mod-text-en mod-text-color-brandCAMPAIGN</span>
._jaキャンペーン情報</span>


.mod-grid02 _items

._item mod-hover _item-yellow
href="https://delivery.skylark.co.jp/?utm_source=sk_app&amp;utm_medium=banner&amp;utm_campaign=new15" ." target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_rs_gt.jpg" alt="

._texts
._cap mod-link-arrow宅配サイト新規会員登録でもらえる</p>._txtすかいらーくの宅配をお得にご利用ください。  </p>






</section>

.brand-common-section brand-index-kids mod-link-color-brand
.mod-wrap mod-wrap-sp
.brand-index-subtitle
<h2 ._title _title-kids
._en mod-text-en mod-text-color-brandKIDS</span>
._jaキッズ情報</span>


.mod-grid02 _items

._item mod-hover _item-red
href="/toy/index.html
._imagesrc="/gusto/pk637h000005l6xn-img/img_kids_01.png" alt="

._texts
._cap mod-link-arrowオリジナルカプセルトイ</p>._txt「ブングウェポン（全4種）」＆「トゥインクルスタージュエル（全4種）」が登場！</p>




._item mod-hover _item-red
href="https://www.skylark-anpanman.com/" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_anpan.png" alt="

._texts
._cap mod-link-arrow親子でうれしい★アンパンマンクラブ</p>._txtキッズメニューでポイントをためるとアンパンマンのオリジナルグッズがお店でもらえる♪</p>






</section>

.mod-wrap mod-wrap-sp
.brand-index-subtitle<h2 ._title _title-free._en mod-text-en mod-text-color-brandGUIDE</span>._jaご案内</span>

.brand-index-free-list
.mod-wrap mod-wrap-sp
.mod-grid02 _items

._item
._banner mod-hover" href="/wi-fi/index.html
src="/gusto/pk637h000005l6xn-img/bnr_wifi.png" alt="すかいらーくの全国店舗でつかえます！



._item
._banner mod-hover" href="/socialmedia/index.html
src="/gusto/pk637h000005l6xn-img/bnr_sns.png" alt="ソーシャルメディア公式アカウント一覧



._item
._banner mod-hover" href="http://allergy.skylark.co.jp/" target="_blank
src="/gusto/pk637h000005l6xn-img/bnr_allergy.png" alt="アレルギー物質の情報










.brand-index-payment mod-link-color-brand
.mod-wrap mod-wrap-sp
店舗でのお支払いについて
.mod-grid02 _items
._item
href="/pay/index.html" ._item-inner mod-hover
._image<span>src="/gusto/pk637h000005l6xn-img/payment_img_creditcard.png" alt="</span>
._texts
._cap mod-link-arrowクレジットカード・電子マネー</p>
._txt全国の店舗で利用できます。詳細はリンク先をご確認ください。</p>


._item
href="https://ir.skylark.co.jp/stock/benefit.html" target="_blank" ._item-inner mod-hover
._image<span>src="/gusto/pk637h000005l6xn-img/payment_img_benefit.png" alt="</span>
._texts
._cap mod-link-arrow株主様ご優待カード</p>
._txt『株主様ご優待カード』のご利用方法・残高照会はこちらから。</p>


._item
href="/link/yutaiken.html" target="_blank" ._item-inner mod-hover
._image<span>src="/gusto/pk637h000005l6xn-img/payment_img_specialcoupon.jpg" alt="</span>
._texts
._cap mod-link-arrowすかいらーくご優待券</p>
._txtご優待番号（９桁英数字）をお持ちの方専用の管理サイトはこちらから。</p>


._item
href="/link/dpoint.html" target="_blank" ._item-inner mod-hover
._image<span>src="/gusto/pk637h000005l6xn-img/payment_img_dpoint.png" alt="</span>
._texts
._cap mod-link-arrowdポイント</p>
._txt街のお店やネットショッピングで、dポイントをためる・つかうことができます。</p>


._item
href="/link/rpoint.html" target="_blank" ._item-inner mod-hover
._image<span>src="/gusto/pk637h000005l6xn-img/payment_img_Rpoint.png" alt="</span>
._texts
._cap mod-link-arrow楽天ポイント</p>
._txt街のいろいろなお店でのお買い物やお食事でも、楽天ポイントが使える！貯まる！</p>


._item
href="/link/t-point.html" target="_blank" ._item-inner mod-hover
._image<span>src="/gusto/pk637h000005l6xn-img/payment_img_tpoint.png" alt="</span>
._texts
._cap mod-link-arrowTポイント</p>
._txtご利用金額に応じてTポイントを貯めたり、お使いいただけます。</p>


._item _item-nomargin
._banner mod-hover" href="/pay/qr_store/index.html" target="_blank
src="/gusto/pk637h000005l6xn-img/payment_img_qr_store.png" alt="店舗で、QRコード決済をご利用いただけます。




</section>

.brand-common-section brand-index-information mod-link-color-brand

.mod-wrap mod-wrap-sp
.brand-index-subtitle
<h2 ._title _title-news
._en mod-text-en mod-text-color-brandINFORMATION</span>
._jaお知らせ</span>


.js-information
.js-information-wrap
._items js-information-list


._date2021/07/15._label _label-fairフェア情報</span></p>
._txthref="/gusto/menu/fair/index.html" .mod-link-arrow＜暑さ乗り切る！！彩り夏ごはん＞<br>
冷たい麺、釜あげしらすとオクラの夏ごはん、チーズINビビンバーグごはん、うな丼などガストの夏メニューをお楽しみください。</p>



._date2021/07/15._label _label-osusumeおすすめメニュー</span></p>
._txthref="/to_recommend/index.html" .mod-link-arrow" target="_blank＜お持ち帰り＆宅配グルメ特集＞<br>
おうちで楽しむ！すかいらーくグループでオススメのお持ち帰り＆宅配グルメをご紹介します！</p>



._date2021/07/12._label _label-infoお知らせ</span></p>
._txthref="/gusto/tv/index.html" .mod-link-arrow＜番組情報＞<br>
7月11日（日）放送のTBS『坂上&amp;指原のつぶれない店』でガストのメニューが紹介されました！</p>



._date2021/07/11._label _label-infoお知らせ</span></p>
._txthref="/company/news/press_release/pk637h000003wl22-att/201125.pdf" .mod-link-arrow mod-icon-pdf" target="_blank「飲食店の営業時間短縮要請」に伴う対応について</p>



._date2021/06/30._label _label-osusumeおすすめメニュー</span></p>
._txthref="https://delivery.skylark.co.jp/news/app_unagi2021" .mod-link-arrow" target="_blank＜【数量限定】うなぎご予約承り中＞<br>
7月28日（水）は丑の日！すかいらーくグループ各店のテイクアウト・宅配うなぎメニューをご紹介！</p>



._date2021/06/29._label _label-infoお知らせ</span></p>
._txthref="/company/news/press_release/pk637h000005jqn2-att/210430_Anpanman.pdf" .mod-link-arrow mod-icon-pdf" target="_blank「アンパンマンクラブポイントカード 」ポイント有効期限延長に関するお知らせ</p>



._date2021/06/01._label _label-infoお知らせ</span></p>
._txthref="https://www.skylark.co.jp/company/news/press_release/pk637h000005p555-att/210601_Fundraising.pdf" .mod-link-arrow mod-icon-pdf" target="_blank「子どもの遊び場支援募金」活動開始</p>



._date2021/05/27._label _label-osusumeおすすめメニュー</span></p>
._txthref="/gusto/menu/dessert/index.html" .mod-link-arrow＜マンゴースイーツ&amp;かき氷＞<br>
とろけるマンゴースイーツとかき氷をお楽しみください。</p>



._date2021/04/28._label _label-kidsカプセルトイ</span></p>
._txthref="/toy/index.html" .mod-link-arrow＜オリジナルカプセルトイ＞<br>
カッコイイ武器型文具 「ブングウェポン（全4種）」＆キラッと心も輝く「トゥインクルスタージュエル（全4種）」が登場！</p>



._date2021/04/22._label _label-osusumeおすすめメニュー</span></p>
._txthref="/gusto/menu/rei_pizza/index.html" .mod-link-arrow＜ガストの冷凍ピザ＞<br>
ガスト全店で販売開始！ガストの冷凍ピザがお持ち帰りできます！</p>



._date2020/11/02._label _label-infoお知らせ</span></p>
._txthref="/online_shopping/index.html" .mod-link-arrow" target="_blank＜すかいらーくグループの通信販売スタート！＞<br>
レストランの人気メニューをご自宅でお楽しみください。</p>



._date2020/10/15._label _label-infoお知らせ</span></p>
._txthref="/pay/qr_store/index.html" .mod-link-arrow" target="_blank＜ＱＲコード決済＞<br>
auPAY、J-Coin Payがご利用いただけるようになりました。※一部店舗を除く</p>



._date2018/02/20._label _label-infoお知らせ</span></p>
._txthref="/company/news/info/2018/pk637h000000keua-att/180220.pdf" .mod-link-arrow mod-icon-pdf" target="_blank【お知らせ】弊社店舗でのQUOカード取扱い終了のお知らせ</p>






</section>



.brand-common-section
.mod-wrap mod-wrap-sp
.mod-grid02

.mod-btn mod-btn-white" href="https://allergy.skylark.co.jp/010016" target="_blankアレルギー情報

.mod-btn mod-btn-white mod-btn-pdf" href="/gusto/pk637h0000000452-att/origin_gt.pdf" target="_blankメニュー別主要食材原産地一覧








.mod-wrap mod-wrap-sp
href="/link/kizuna.html" target="_blank
.mod-show-pc" src="/site_resource/brand/images/brand_top/bnr_kizuna_pc.jpg" alt="ご質問がございましたら私がお答えします！
.mod-show-sp" src="/site_resource/brand/images/brand_top/bnr_kizuna_sp.jpg" alt="ご質問がございましたら私がお答えします！


</div





<script src="/gusto/common_4/include/footer.js</script>

<script type="application/ld+json
{
"@context": "http://schema.org",
"@type": "BreadcrumbList",
"itemListElement": [
{
"@type": "ListItem",
"position": 1,
"item": {
"name": "ガストTOP" 
}}]}
</script>
</body>
</html>

 -->
*/

/*pages*/


.brand-index-abouts-wapper { padding: 113px 0 30px; background-size: 100%; }
.brand-index-about h2 { width: 85.3%; margin-bottom: 22px; }
.brand-index-about h2 img { width: 100%; }
.brand-index-about ._item ._texts { padding: 10px; }
.brand-index-about ._item ._texts ._cap { font-size: 0.8125rem; }


/*pages 822*/
.brand-index-abouts-wapper { padding: 37px 0 25px; background-size: 130% auto; }
.brand-index-about h2 { width: 85.3%; margin-bottom: 22px; }
.brand-index-about h2 img { width: 100%; }
.brand-index-about ._item ._texts { padding: 10px; }
.brand-index-about ._item ._texts ._cap { font-size: 0.8125rem; }
.brand-index-about ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }

/*pages*/

.brand-index-abouts-wapper { background-repeat: no-repeat; background-position: center top; }

.brand-index-about h2 { padding: 0; margin: 0 auto; }

.brand-index-about ._item { background: #fff; outline: 1px solid #d8d8d8; }

.brand-index-about ._item img { width: 100%; }

.brand-index-about ._item p { margin: 0; }

.brand-index-about ._item a { display: block; }

.brand-index-about ._item ._texts ._cap { font-weight: bold; }

.brand-index-about ._item ._texts ._txt { color: #000; }



.brand-index-about mod-link-color-brand
.mod-wrap mod-wrap-sp
src="/site_resource/gusto/images/about_ttl.png" alt="知ってた!? ガストのあれこれ
.mod-grid02

._item
href="/gusto/flyer/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_flyer.png" alt="最新チラシ公開中


._texts
._cap mod-link-arrow最新チラシ公開中</p>._txt最新チラシはこちら。随時更新いたします。ご来店の前やお持ち帰りご購入前にぜひチェックしてください！</p>




._item
href="/gusto/menu/fair/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_fair.png" alt="暑さ乗り切る！！彩り夏ごはん


._texts
._cap mod-link-arrow暑さ乗り切る！！彩り夏ごはん</p>._txt「釜あげしらすとオクラの夏ごはん」や「チーズINビビンバーグごはん」などをお楽しみください。</p>




._item
href="/gusto/tv/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_tv.png" alt="番組情報


._texts
._cap mod-link-arrow番組情報</p>._txt7月11日（日）放送のTBS『坂上&amp;指原のつぶれない店』でガストのメニューが紹介されました！</p>




._item
href="/to_recommend/index.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_tors_fusion.png" alt="お持ち帰り＆宅配グルメ特集


._texts
._cap mod-link-arrowお持ち帰り＆宅配グルメ特集</p>._txtおうちで楽しむ！すかいらーくグループのお持ち帰り＆宅配グルメを大特集！</p>




._item
href="/gusto/menu/dessert/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_dessert.png" alt="マンゴースイーツ&amp;かき氷


._texts
._cap mod-link-arrowマンゴースイーツ&amp;かき氷</p>._txtとろけるマンゴースイーツとかき氷をお楽しみください。</p>




._item
href="/gusto/paper_menu/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_paper.jpg" alt="最新メニュー公開中


._texts
._cap mod-link-arrow最新メニュー公開中</p>._txt最新メニューはこちら。随時更新いたします。ご来店の前やお持ち帰りご購入前にぜひチェックしてください！</p>




._item
href="/link/takeout.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_03.png" alt="ガストのお持ち帰り


._texts
._cap mod-link-arrowガストのお持ち帰り</p>._txtインターネットで注文！ショップで受け取り！</p>




._item
href="/link/takuhai.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_delivery_gt.png" alt="ガストの宅配


._texts
._cap mod-link-arrowガストの宅配</p>._txtすかいらーくの宅配サイトはこちらから！<br>
お得な割引クーポン掲載中！ぜひ、ご利用ください。</p>




._item
href="https://delivery.skylark.co.jp/news/app_unagi2021" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_tors_unagi.png" alt="【数量限定】うなぎご予約承り中


._texts
._cap mod-link-arrow【数量限定】うなぎご予約承り中</p>._txt7月28日（水）は丑の日！すかいらーくグループ各店のテイクアウト・宅配うなぎメニューをご紹介！</p>




._item
href="/gusto/menu/karayoshi/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_karayoshi.png" alt="から好しのから揚げ


._texts
._cap mod-link-arrowから好しのから揚げ</p>._txt『から揚げ専門店』から好しのから揚げがガストで販売中！店内飲食はもちろん、テイクアウトでも宅配でもOK！</p>




._item
href="/gusto/menu/rei_pizza/index.html" .mod-hover
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_rei_pizza.jpg" alt="ガストの冷凍ピザ


._texts
._cap mod-link-arrowガストの冷凍ピザ</p>._txtガスト全店で販売開始！ガストの冷凍ピザがお持ち帰りできます！</p>




._item
href="/online_shopping/index.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_online_shopping.png" alt="すかいらーくグループの通販


._texts
._cap mod-link-arrowすかいらーくグループの通販</p>._txtすかいらーくグループの通信販売スタート！<br>
レストランの人気メニューをご自宅でお楽しみください。</p>




._item
href="/gotoeat_ticket/index.html" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_gotoeat_ticket.png" alt="全ブランドでお食事券をご利用いただけます！


._texts
._cap mod-link-arrow全ブランドでお食事券をご利用いただけます！</p>._txt※一部店舗ではご利用いただけません<br>
※山梨県の店舗はご利用いただけません</p>




._item
href="/premium_ticket/store.pdf" .mod-hover" target="_blank
._imagesrc="/gusto/pk637h000005l6xn-img/img_about_premium_ticket.png" alt="地域振興券（プレミアム付 商品券）


._texts
._cap mod-link-arrow地域振興券（プレミアム付 商品券）</p>._txtご利用可能な店舗と商品券については「一覧表（PDF）」でご確認をお願いいたします。</p>






/*---------------------------------------------------------------------
*/
/*セクション２*/
/*---------------------------------------------------------------------
*/

/*common*/
.brand-common-title .mod-wrap { position: relative; }




.brand-common-title ._title h1 { position: relative; margin: 0; line-height: 1; }

.brand-common-title ._title h1 span._en { vertical-align: middle; color: #ff7200; border-right: 1px #ddd solid; }

.brand-common-title ._title h1 span._en:before { font-family: 'skylark'; line-height: 1; font-weight: normal; -webkit-font-smoothing: antialiased; content: ""; position: absolute; top: 0px; left: 0px; display: block; content: ""; margin-right: 5px; vertical-align: middle; }

.brand-common-title ._title h1 span._ja { font-size: 1.375rem; }

.brand-common-title ._title._title-menu h1 span._en:before { content: ""; }

.brand-common-title ._title._title-coupon h1 span._en:before { content: ""; }

.brand-common-recents ._title { background: red; text-align: center; position: relative; }

.brand-common-recents ._title:before { content: ""; position: absolute; bottom: -24px; left: 50%; width: 12px; height: 12px; box-sizing: border-box; border: 12px solid transparent; border-top: 12px solid red; transform: translate(-12px, 0px) scale(0.8, 1); }

.brand-common-recents ._title h2 { margin: 0; }

.brand-common-reccomends ._title { background: red; padding: 16px; text-align: center; position: relative; }

.brand-common-reccomends ._title:before { content: ""; position: absolute; bottom: -24px; left: 50%; width: 12px; height: 12px; box-sizing: border-box; border: 12px solid transparent; border-top: 12px solid red; transform: translate(-12px, 0px) scale(0.8, 1); }

.brand-common-reccomends ._title h2 { margin: 0; }

.brand-common-title ._title h1 span._en { margin-right: 10px; padding-right: 20px; padding-left: 45px; font-size: 2rem; }
  
.brand-common-title ._title h1 span._en:before { font-size: 40px; transform: translate(0, -2px); }
  
.brand-common-recents ._title { padding: 16px; }
  
.brand-common-recents ._title h2 { font-size: 1.25rem; }
  
.brand-common-reccomends ._title { padding: 16px; }
  
.brand-common-reccomends ._title h2 { font-size: 1.25rem; }
  
.brand-common-title ._title h1 span._en { margin-right: 10px; padding-right: 10px; padding-left: 35px; font-size: 1.5rem; }
  
.brand-common-title ._title h1 span._en:before { top: 5px; font-size: 30px; }
  
.brand-common-title ._title._title-menu h1 span._en { border-right: none; }
  
.brand-common-title ._title._title-menu h1 span._ja { display: none; }
  
.brand-common-recents ._title { padding: 10px; }
  
.brand-common-recents ._title h2 { font-size: 1rem; }
  
.brand-common-reccomends ._title { padding: 10px; }
  
.brand-common-reccomends ._title h2 { font-size: 1rem; }
  


.brand-index-subtitle h2._title-news span._en:before { content: ""; }

.brand-index-subtitle h2._title-campain span._en:before { content: ""; }

.brand-index-subtitle h2._title-kids span._en:before { content: ""; }

.brand-index-subtitle h2._title-free span._en:before { font-family: 'icon_book' !important; content: "\e900"; }

.brand-index-subtitle h2._title-news span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-campain span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-kids span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-free span._en:before { font-size: 2.375rem; top: 5px; }
  
.brand-index-subtitle h2._title-news span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-campain span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-kids span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-free span._en:before { font-size: 1.5rem; top: 2px; }
  





.brand-common-title ._title h1 span._en { vertical-align: middle; color: #ff7200; border-right: 1px #ddd solid; }

.brand-common-title ._title h1 span._en:before { font-family: 'skylark'; line-height: 1; font-weight: normal; -webkit-font-smoothing: antialiased; content: ""; position: absolute; top: 0px; left: 0px; display: block; content: ""; margin-right: 5px; vertical-align: middle; }

.brand-common-title ._title._title-menu h1 span._en:before { content: ""; }

.brand-common-title ._title._title-coupon h1 span._en:before { content: ""; }

.brand-common-title ._title h1 span._en { margin-right: 10px; padding-right: 20px; padding-left: 45px; font-size: 2rem; }
  
.brand-common-title ._title h1 span._en:before { font-size: 40px; transform: translate(0, -2px); }
  
.brand-common-title ._title h1 span._en { margin-right: 10px; padding-right: 10px; padding-left: 35px; font-size: 1.5rem; }
  
.brand-common-title ._title h1 span._en:before { top: 5px; font-size: 30px; }
  
.brand-common-title ._title._title-menu h1 span._en { border-right: none; }
  



/*mojule*/
.mod-wrap-sp { padding-right: 15px; padding-left: 15px; }

.mod-text-en { font-family: "Roboto", sans-serif; }



/*page*/
.brand-index-subtitle h2 { position: relative; margin: 0; line-height: 1; }

.brand-index-subtitle h2 span._en { vertical-align: middle; color: #ff7200; }

.brand-index-subtitle h2 span._en:before { font-family: 'skylark'; line-height: 1; font-weight: normal; -webkit-font-smoothing: antialiased; content: ""; position: absolute; top: 0px; left: 0px; display: block; content: ""; margin-right: 5px; vertical-align: middle; transition-duration: 0.2s; }

.brand-index-subtitle h2._title-news span._en:before { content: ""; }

.brand-index-subtitle h2._title-campain span._en:before { content: ""; }

.brand-index-subtitle h2._title-kids span._en:before { content: ""; }

.brand-index-subtitle h2._title-free span._en:before { font-family: 'icon_book' !important; content: "\e900"; }

.brand-index-subtitle h2 span._ja { font-size: 1.375rem; }





.brand-index-subtitle h2 span._en { vertical-align: middle; color: #ff7200; }

.brand-index-subtitle h2 span._en:before { font-family: 'skylark'; line-height: 1; font-weight: normal; -webkit-font-smoothing: antialiased; content: ""; position: absolute; top: 0px; left: 0px; display: block; content: ""; margin-right: 5px; vertical-align: middle; transition-duration: 0.2s; }

.brand-index-subtitle h2._title-news span._en:before { content: ""; }

.brand-index-subtitle h2._title-campain span._en:before { content: ""; }

.brand-index-subtitle h2._title-kids span._en:before { content: ""; }

.brand-index-subtitle h2._title-free span._en:before { font-family: 'icon_book' !important; content: "\e900"; }

.brand-index-subtitle h2 span._en { margin-right: 10px; padding-right: 20px; padding-left: 50px; border-right: 1px #ddd solid; font-size: 2.5rem; }
  
.brand-index-subtitle h2 span._en:before { font-size: 44px; transform: translate(0, -6px); }
  
.brand-index-subtitle h2._title-news span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-campain span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-kids span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-free span._en:before { font-size: 2.375rem; top: 5px; }
  
.brand-index-subtitle h2 span._en { display: inline-block; position: relative; margin-right: 10px; padding-right: 10px; padding-left: 35px; font-size: 1.5rem; }
  
.brand-index-subtitle h2 span._en:before { font-size: 30px; transform: translate(0, -3px); }
  
.brand-index-subtitle h2._title-news span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-campain span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-kids span._en:before { content: ""; }
  
.brand-index-subtitle h2._title-free span._en:before { font-size: 1.5rem; top: 2px; }
  


/*color
*/

.brand-index-subtitle h2 span._en{color: #d2000f;}


.brand-common-title ._title h1 span._en {color: #d2000f;}
.brand-common-recents ._title {background: #ffea98;}
.brand-common-recents ._title:before {border-top: 12px solid #ffea98;}
.brand-common-reccomends ._title {background: #ffea98;}
.brand-common-reccomends ._title:before {border-top: 12px solid #ffea98;}

/*headerfooter_pc*/
.area-header-corporate ._main ._navi ._navi-main ._title:hover { color: #ff7200; }






.mod-wrap
.mod-wrap-sp
.brand-index-subtitle


._title
._title-free
._en
.mod-text-en 
.mod-text-color-brandGUIDE
._jaご案内



.brand-index-free-list
.mod-wrap 
.mod-wrap-sp
/*<ul */
.mod-grid02 
._items

/*<li */
._item
/*<a */
._banner 
.mod-hover
/*" href="/wi-fi/index.html*/
/*<img src="/gusto/pk637h000005l6xn-img/bnr_wifi.png" alt="すかいらーくの全国店舗でつかえます！*/
/*</a>*/
/*</li>*/

/*<li */
._item
/*<a */
._banner 
.mod-hover
/*" href="/socialmedia/index.html*/
/*<img src="/gusto/pk637h000005l6xn-img/bnr_sns.png" alt="ソーシャルメディア公式アカウント一覧*/
/*</a>*/
/*</li>*/

/*<li */
._item
/*<a */
._banner 
.mod-hover
/*" href="http://allergy.skylark.co.jp/" target="_blank*/
/*<img src="/gusto/pk637h000005l6xn-img/bnr_allergy.png" alt="アレルギー物質の情報*/






._cap
.mod-link-arrow

._texts
.brand-index-about ._item ._texts


._txt

.mod-link-color-brand a

.mod-link-color-brand p




.brand-index-about ._item ._texts ._cap

/*common*/
.brand-common-recents ._items ._item ._texts ._cap { margin: 0; }

.brand-common-recents ._items ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-common-reccomends ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-common-recents ._items ._item ._texts ._cap { font-size: 0.75rem; }
  
.brand-common-reccomends ._item ._texts ._cap { font-size: 0.875rem; }




.brand-common-recents ._items ._item ._texts ._cap { margin: 0; }

.brand-common-reccomends ._item ._texts ._txt { color: #000; }

.brand-common-recents ._items ._item ._texts { margin-top: 10px; }
  
.brand-common-recents ._items ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-common-reccomends ._item ._texts { margin-top: 15px; }
  
.brand-common-reccomends ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-common-reccomends ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-common-recents ._items ._item ._texts { margin-top: 5px; }
  
.brand-common-recents ._items ._item ._texts ._cap { font-size: 0.75rem; }
  
.brand-common-reccomends ._item ._texts { margin-top: 10px; }
  
.brand-common-reccomends ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-common-reccomends ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  


.brand-common-reccomends ._item ._texts ._txt { color: #000; }

.brand-common-reccomends ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-common-reccomends ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  


/*mojule*/


.mod-link-arrow { display: inline-block; position: relative; text-indent: -5px; padding-left: 10px; }

.mod-link-arrow::before { font-family: FontAwesome; line-height: 1; font-weight: normal; content: "\f0da"; color: #ff7200; display: inline-block; margin-right: 5px; }

.mod-link-arrow.mod-link-arrow-L { font-weight: bold; }

a[target=_blank] .mod-link-arrow:not(.mod-icon-pdf)::after, a[target=_blank].mod-link-arrow:not(.mod-icon-pdf)::after, a[target=_blank] .mod-link-menu::after, a[target=_blank].mod-link-menu::after { font-family: FontAwesome; line-height: 1; font-weight: normal; content: "\f0da"; content: "\f08e"; color: #ff7200; margin-left: 5px; font-size: 90%; }

.mod-link-arrow.mod-link-arrow-L { font-size: 1rem; }
  
.mod-link-arrow.mod-link-arrow-L { font-size: 0.875rem; }
  


/*page*/
.brand-index-about ._item ._texts ._cap { font-weight: bold; }

.brand-index-kids ._item ._texts ._cap, .brand-index-campaign ._item ._texts ._cap { font-weight: bold; }

.brand-index-kids ._item._item-red a ._cap, .brand-index-campaign ._item._item-red a ._cap { color: #ff0; }

.brand-index-payment ._items ._item ._texts ._cap { font-weight: bold; color: #000; }

.brand-coupon-index-mv ._cap h2 { margin: 0; padding: 0; font-weight: bold; line-height: 1.2; }

.brand-coupon-index-spec ._item ._cap { padding: 0; margin: 0 0 5px; font-weight: bold; }

.brand-coupon-index-otpn ._cap { padding: 0; margin: 0 0 5px; font-weight: bold; color: #ff7200; }

.brand-menu-index-visuals ._item ._cap { font-weight: normal; color: #ff0; }

.brand-menu-index-visuals ._item ._cap::before { color: #ff0; }

.brand-menu-index-categorys ._item ._texts ._cap { font-weight: normal; margin: 0; }

.brand-menu-detail-popular ._item ._texts ._cap { margin: 0; }

.brand-menu-ranking-main ._texts ._cap { color: #ff7200; }

.brand-index-about ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-kids ._item ._texts ._cap, .brand-index-campaign ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-payment ._items ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-coupon-index-mv ._cap { margin: 0 0 25px; padding-top: 50px; }
  
.brand-coupon-index-mv ._cap h2 { font-size: 2.625rem; }
  
.brand-coupon-index-spec ._item ._cap { font-size: 1.125rem; }
  
.brand-coupon-index-otpn ._cap { font-size: 1.5rem; }
  
.brand-menu-index-visuals ._item ._cap { font-size: 1.5rem; }
  
.brand-menu-index-reccomends ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-menu-index-categorys ._item ._texts ._cap { font-size: 1rem; }
  
.brand-menu-category-list ._item ._texts ._cap { font-size: 1.125rem; }
  
.brand-menu-detail-recommends ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-menu-detail-popular ._item ._texts ._cap { font-size: 1.125rem; }
  
.brand-menu-ranking-main ._texts ._cap { font-size: 1.5rem; margin: 0; }
  
.brand-index-about ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-index-kids ._item ._texts ._cap, .brand-index-campaign ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-index-payment ._items ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-coupon-index-mv ._cap { margin: 0 0 20px; }
  
.brand-coupon-index-mv ._cap h2 { font-size: 1.25rem; }
  
.brand-coupon-index-spec ._item ._cap { font-size: 0.875rem; }
  
.brand-coupon-index-otpn ._cap { font-size: 1.125rem; }
  
.brand-menu-index-visuals ._item ._cap { font-size: 0.9375rem; }
  
.brand-menu-index-reccomends ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-index-categorys ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-menu-category-list ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-detail-recommends ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-detail-popular ._item ._texts ._cap { font-size: 0.75rem; }
  
.brand-menu-ranking-main ._texts ._cap { font-size: 0.875rem; }
  



.brand-index-about ._item ._texts ._cap { font-weight: bold; }

.brand-index-about ._item ._texts ._txt { color: #000; }

.brand-index-kids ._item ._texts ._cap, .brand-index-campaign ._item ._texts ._cap { font-weight: bold; }

.brand-index-kids ._item ._texts ._txt, .brand-index-campaign ._item ._texts ._txt { color: #000; }

.brand-index-payment ._items ._item ._texts ._cap { font-weight: bold; color: #000; }

.brand-index-payment ._items ._item ._texts ._txt { color: #000; }

.brand-coupon-index-otpn ._texts p { padding: 0; margin: 0; }

.brand-menu-index-visuals ._item ._texts { position: relative; background: #ff7200; }

.brand-menu-index-visuals ._item ._texts i { font-size: 16px; }

.brand-menu-index-reccomends ._item ._texts ._txt { color: #000; }

.brand-menu-index-categorys ._item ._texts ._cap { font-weight: normal; margin: 0; }

.brand-menu-index-dbook ._items ._item ._texts { float: right; margin-top: 15px; }

.brand-menu-index-dbook ._items ._item ._texts ._btn { margin-top: -12px; }

.brand-menu-index-dbook ._items ._item ._texts ._data { font-weight: bold; }

.brand-menu-category-list ._item ._texts ._price  { color: #000; font-weight: bold; font-size: 1rem; }

.brand-menu-category-list ._item ._texts ._price span{ }

.brand-menu-category-list ._item ._texts ._labes { margin: 5px 0; }

.brand-menu-category-list ._item ._texts ._labes ._new, .brand-menu-category-list ._item ._texts ._labes ._fair, .brand-menu-category-list ._item ._texts ._labes ._limit, .brand-menu-category-list ._item ._texts ._labes ._takeout { display: inline-block; margin: 3px 0 3px 0; line-height: 30px; padding: 0px 5px; font-weight: bold; }

.brand-menu-category-list ._item ._texts ._labes ._new { border: 2px solid #d2000f; background: #d2000f; color: #fff; }

.brand-menu-category-list ._item ._texts ._labes ._fair { border: 2px solid #ff3d42; color: #ff3d42; }

.brand-menu-category-list ._item ._texts ._labes ._limit { border: 2px solid #7a36a5; color: #7a36a5; }

.brand-menu-category-list ._item ._texts ._labes ._takeout { border: 2px solid #874412; color: #874412; }

.brand-menu-detail-cover ._texts { background: #ff7200; color: #fff; }

.brand-menu-detail-recommends ._item ._texts ._price { color: #000; font-weight: bold; }

.brand-menu-detail-recommends ._item ._texts ._price span { ; }

.brand-menu-detail-popular ._item ._texts ._cap { margin: 0; }

.brand-menu-ranking-main ._texts-inner { padding: 0 0 0 15px; }

.brand-menu-ranking-main ._texts ._cap { color: #ff7200; }

.brand-menu-ranking-main ._texts ._price { color: #000; font-weight: bold; }

.brand-menu-ranking-main ._texts ._price span { }

.brand-menu-ranking-main ._texts ._labes { margin: 5px 0; }

.brand-menu-ranking-main ._texts ._labes ._new, .brand-menu-ranking-main ._texts ._labes ._fair, .brand-menu-ranking-main ._texts ._labes ._limit, .brand-menu-ranking-main ._texts ._labes ._takeout { display: inline-block; margin: 3px 0 3px 0; line-height: 30px; padding: 0px 5px; font-weight: bold; }

.brand-menu-ranking-main ._texts ._labes ._new { border: 2px solid #d2000f; background: #d2000f; color: #fff; }

.brand-menu-ranking-main ._texts ._labes ._fair { border: 2px solid #ff3d42; color: #ff3d42; }

.brand-menu-ranking-main ._texts ._labes ._limit { border: 2px solid #7a36a5; color: #7a36a5; }

.brand-menu-ranking-main ._texts ._labes ._takeout { border: 2px solid #874412; color: #874412; }

.brand-index-about ._item ._texts { padding: 20px; }
  
.brand-index-about ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-about ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-index-kids ._item ._texts, .brand-index-campaign ._item ._texts { padding: 20px; }
  
.brand-index-kids ._item ._texts ._cap, .brand-index-campaign ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-kids ._item ._texts ._txt, .brand-index-campaign ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-index-payment ._items ._item ._texts { flex: 5; padding-left: 20px; }
  
.brand-index-payment ._items ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-payment ._items ._item ._texts ._txt { font-size: 1rem; margin-top: 5px; }
  
.brand-coupon-index-otpn ._texts { margin-left: 648px; width: 345px; }
  
.brand-coupon-index-otpn ._texts p + p { margin: 20px 0 0; }
  
.brand-menu-index-visuals ._item ._texts { height: 110px; }
  
.brand-menu-index-reccomends ._item ._texts { margin-top: 15px; }
  
.brand-menu-index-reccomends ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-menu-index-reccomends ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-menu-index-categorys ._item ._texts { margin-top: 10px; }
  
.brand-menu-index-categorys ._item ._texts ._cap { font-size: 1rem; }
  
.brand-menu-index-dbook ._items ._item ._texts { width: 345px; }
  
.brand-menu-index-dbook ._items ._item ._texts ._data { margin-top: 15px; }
  
.brand-menu-index-dbook ._items ._item ._texts ._notes { margin-top: 15px; font-size: 0.75rem; }
  
.brand-menu-category-list ._item ._texts { padding: 15px 20px 15px 20px; }
  
.brand-menu-category-list ._item ._texts ._cap { font-size: 1.125rem; }
  
.brand-menu-category-list ._item ._texts ._price  { font-size: 1rem; }
  
.brand-menu-category-list ._item ._texts ._price span { font-size: 1rem; }
  
.brand-menu-category-list ._item ._texts ._labes { font-size: 0.75rem; }
  
.brand-menu-detail-cover ._texts { width: 456px; }
  
.brand-menu-detail-cover ._texts-inner { padding: 60px 50px 0 50px; }
  
.brand-menu-detail-recommends ._item ._texts { width: 330px; margin: 0 0 0 20px; }
  
.brand-menu-detail-recommends ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-menu-detail-recommends ._item ._texts ._name { font-size: 1rem; }
  
.brand-menu-detail-recommends ._item ._texts ._price { font-size:1rem; }
  
.brand-menu-detail-recommends ._item ._texts ._price span { font-size: 1rem; }
  
.brand-menu-detail-popular ._item ._texts { margin-top: 15px; }
  
.brand-menu-detail-popular ._item ._texts ._cap { font-size: 1.125rem; }
  
.brand-menu-ranking-main ._texts-inner { padding: 0 0 0 15px; }
  
.brand-menu-ranking-main ._texts { flex: 1; padding: 0 0 0 40px; }
  
.brand-menu-ranking-main ._texts ._cap { font-size: 1.5rem; margin: 0; }
  
.brand-menu-ranking-main ._texts ._price { font-size: 1rem; margin: 10px 0 0 0; }
  
.brand-menu-ranking-main ._texts ._price span { font-size: 1rem; }
  
.brand-menu-ranking-main ._texts ._labes { font-size: 0.75rem; margin: 10px 0 0 0; } }

.brand-index-about ._item ._texts { padding: 10px; }
  
.brand-index-about ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-index-about ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-index-kids ._item ._texts, .brand-index-campaign ._item ._texts { padding: 10px; }
  
.brand-index-kids ._item ._texts ._cap, .brand-index-campaign ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-index-kids ._item ._texts ._txt, .brand-index-campaign ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-index-payment ._items ._item ._texts { flex: 4; padding-left: 10px; }
  
.brand-index-payment ._items ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-index-payment ._items ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-coupon-index-otpn ._texts { margin-top: 15px; }
  
.brand-coupon-index-otpn ._texts p + p { margin: 10px 0 0; }
  
.brand-menu-index-visuals ._item ._texts { height: 70px; position: absolute; left: 0px; right: 0px; bottom: 45px; }
  
.brand-menu-index-visuals ._item ._texts:before { content: ""; display: block; position: absolute; top: 0px; right: 0px; width: 30px; bottom: 0px; background: #ff7200; }
  
.brand-menu-index-visuals ._item ._texts:after { display: block; position: absolute; top: 40%; right: 0px; font-family: FontAwesome; line-height: 1; font-weight: normal; content: "\f0da"; display: inline-block; font-size: 1.25rem; margin-right: 10px; color: #ff0; vertical-align: middle; }
  
.brand-menu-index-reccomends ._item ._texts { margin-top: 10px; }
  
.brand-menu-index-reccomends ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-index-reccomends ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-menu-index-categorys ._item ._texts { margin-top: 5px; }
  
.brand-menu-index-categorys ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-menu-index-dbook ._items ._item ._texts { width: 70%; padding: 0 0 0 10px; }
  
.brand-menu-index-dbook ._items ._item ._texts ._data { margin-top: 10px; }
  
.brand-menu-index-dbook ._items ._item ._texts ._notes { margin-top: 10px; font-size: 0.75rem; }
  
.brand-menu-category-list ._item ._texts { padding: 10px; }
  
.brand-menu-category-list ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-category-list ._item ._texts ._price  { font-size: 1rem; }
  
.brand-menu-category-list ._item ._texts ._price span { font-size: 1rem; }
  
.brand-menu-category-list ._item ._texts ._labes { font-size: 0.75rem; }
  
.brand-menu-detail-cover ._texts-inner { padding: 15px; }
  
.brand-menu-detail-recommends ._item ._texts { width: 66%; margin: 0 0 0 4%; }
  
.brand-menu-detail-recommends ._item ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-detail-recommends ._item ._texts ._name { font-size: 0.75rem; }
  
.brand-menu-detail-recommends ._item ._texts ._price { font-size: 0.875rem; }
  
.brand-menu-detail-recommends ._item ._texts ._price span { font-size: 0.875rem; }
  
.brand-menu-detail-popular ._item ._texts { margin-top: 10px; }
  
.brand-menu-detail-popular ._item ._texts ._cap { font-size: 0.75rem; }
  
.brand-menu-ranking-main ._texts-inner { padding: 0 0 0 15px; }
  
.brand-menu-ranking-main ._texts { padding: 10px 0 0 0; }
  
.brand-menu-ranking-main ._texts ._cap { font-size: 0.875rem; }
  
.brand-menu-ranking-main ._texts ._price { font-size: 0.875rem; margin: 0; }
  
.brand-menu-ranking-main ._texts ._price span { font-size: 0.875rem; }
  
.brand-menu-ranking-main ._texts ._labes { font-size: 0.75rem; } }




.brand-index-clock ._clock-dial ._item ._txt { padding: 0; margin: 0; }

.brand-index-clock ._clock-dial ._item.is-focus ._txt { opacity: 1; }

.brand-index-clock ._clock-dial ._item:not(.is-active) ._txt { display: none; }

.brand-index-clock ._clock-watch ._face ._name, .brand-index-clock ._clock-watch ._face ._txt, .brand-index-clock ._clock-watch ._face ._time { margin: 0; padding: 0; line-height: 1; }

.brand-index-clock ._clock-watch ._face ._txt::before, .brand-index-clock ._clock-watch ._face ._txt::after { content: ""; display: block; font-size: 0; line-height: 0; background-color: #ff7200; display: inline-block; vertical-align: middle; }

.brand-index-clock ._clock-watch ._face ._txt::before { transform: skewX(25deg); }

.brand-index-clock ._clock-watch ._face ._txt::after { transform: skewX(-25deg); }

/* .brand-index-clock-all { ._all-btn { @if $all { border-bottom: 1px #dfdfdf solid; } .mod-wrap { @if $all {margin-top: 0;margin-bottom: 0;} a { @if $all {display: block;text-align: center;} @if $pc {padding: 15px 0;} @if $sp {padding: 10px 0;} span { @if $all { display: inline-block;position: relative;font-weight: bold; color: $color-main; } @if $pc {padding-right: 30px;} @if $sp {padding-right: 24px;} &::before, &::after { @if $all { content: ""; display: block; position: absolute; top: 50%; background-color: $color-main; line-height: 0; font-size: 0; } } &::before { @if $all {right: 0;} @if $pc {width: 19px;height: 3px;margin-top: -2px;} @if $sp {width: 12px;height: 2px;margin-top: -1px;} } &::after { @if $pc {width: 3px;height: 19px;margin-top: -10px;right: 8px;} @if $sp {width: 2px;height: 12px;margin-top: -6px;right: 5px;} } } } } } &.is-active { .mod-wrap a span::after { @if $all {content: none;} } } ._list { @if $all {padding: 0;margin: 0;list-style: none;} li { @if $all {margin: 0;border-bottom: 1px #dfdfdf solid;} @if $pc {padding: 20px 0;position: relative;} @if $sp {padding: 15px 0;} ._time { @if $pc {font-size:$fs14;margin: 0;padding: 0;width: 100px;position: absolute;left: 0;top: 20px;} @if $sp {font-size:$fs13;margin: 0;padding: 0;} } ._txt { @if $all { margin: 0; a:hover{ text-decoration: underline; } } @if $pc {font-size:$fs14;padding: 0 0 0 115px;} @if $sp {font-size:$fs13;} } } } } */

.brand-index-about ._item ._texts ._txt { color: #000; }

.brand-index-kids ._item ._texts ._txt, .brand-index-campaign ._item ._texts ._txt { color: #000; }

.brand-index-kids ._item._item-red a ._txt, .brand-index-campaign ._item._item-red a ._txt { color: #fff; }

.brand-index-payment ._items ._item ._texts ._txt { color: #000; }

.brand-index-information ._items li ._txt { margin: 0; }

.brand-index-information ._items li ._txt a:hover { text-decoration: underline; }

.brand-menu-index-reccomends ._item ._texts ._txt { color: #000; }

.brand-index-clock ._clock-dial ._item ._txt { position: absolute; top: 50%; right: 100%; opacity: 0.43; font-size: 0.813rem; margin-top: -37px; margin-right: 152px; width: 180px; color: #fff; background-color: #ff7200; padding: 15px 17px; padding: 5px 17px; border-radius: 4px; height: 73px; display: flex; align-items: center; }
  
.brand-index-clock ._clock-dial ._item ._txt::before { content: ""; display: block; position: absolute; left: 100%; top: 50%; margin-top: -8px; width: 0; height: 0; border-style: solid; border-width: 8px 0 8px 12px; border-color: transparent transparent transparent #ff7200; }
  
.brand-index-clock ._clock-dial ._item.is-focus ._txt { margin-top: -55px; margin-right: 170px; width: 218px; font-size: 1rem; padding: 15px 20px; padding: 5px 20px; height: 110px; display: flex; align-items: center; }
  
.brand-index-clock ._clock-watch ._face ._txt { margin-top: 10px; font-size: 1.063rem; line-height: 20px; }
  
.brand-index-clock ._clock-watch ._face ._txt::before, .brand-index-clock ._clock-watch ._face ._txt::after { height: 20px; width: 2px; }
  
.brand-index-clock ._clock-watch ._face ._txt::before { margin-right: 6px; }
  
.brand-index-clock ._clock-watch ._face ._txt::after { margin-left: 6px; }
  
/* .brand-index-clock-all { ._all-btn { @if $all { border-bottom: 1px #dfdfdf solid; } .mod-wrap { @if $all {margin-top: 0;margin-bottom: 0;} a { @if $all {display: block;text-align: center;} @if $pc {padding: 15px 0;} @if $sp {padding: 10px 0;} span { @if $all { display: inline-block;position: relative;font-weight: bold; color: $color-main; } @if $pc {padding-right: 30px;} @if $sp {padding-right: 24px;} &::before, &::after { @if $all { content: ""; display: block; position: absolute; top: 50%; background-color: $color-main; line-height: 0; font-size: 0; } } &::before { @if $all {right: 0;} @if $pc {width: 19px;height: 3px;margin-top: -2px;} @if $sp {width: 12px;height: 2px;margin-top: -1px;} } &::after { @if $pc {width: 3px;height: 19px;margin-top: -10px;right: 8px;} @if $sp {width: 2px;height: 12px;margin-top: -6px;right: 5px;} } } } } } &.is-active { .mod-wrap a span::after { @if $all {content: none;} } } ._list { @if $all {padding: 0;margin: 0;list-style: none;} li { @if $all {margin: 0;border-bottom: 1px #dfdfdf solid;} @if $pc {padding: 20px 0;position: relative;} @if $sp {padding: 15px 0;} ._time { @if $pc {font-size:$fs14;margin: 0;padding: 0;width: 100px;position: absolute;left: 0;top: 20px;} @if $sp {font-size:$fs13;margin: 0;padding: 0;} } ._txt { @if $all { margin: 0; a:hover{ text-decoration: underline; } } @if $pc {font-size:$fs14;padding: 0 0 0 115px;} @if $sp {font-size:$fs13;} } } } } */
  
.brand-index-about ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-index-kids ._item ._texts ._txt, .brand-index-campaign ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-index-payment ._items ._item ._texts ._txt { font-size: 1rem; margin-top: 5px; }
  
.brand-menu-index-visuals ._item ._txt { font-size: 1rem; }
  
.brand-menu-index-reccomends ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-index-clock ._clock-dial ._item ._txt { font-size: 0.571rem; line-height: 1.3; }
  
.brand-index-clock ._clock-dial ._item.is-focus ._txt { font-size: 11px; }
  
.brand-index-clock ._clock-watch ._face ._txt { margin-top: 5px; font-size: 0.6rem; transform: scale(0.7, 0.7); white-space: nowrap; width: 87px; margin-left: -2px; }
  
.brand-index-clock ._clock-watch ._face ._txt::before, .brand-index-clock ._clock-watch ._face ._txt::after { height: 8px; width: 1px; }
  
.brand-index-clock ._clock-watch ._face ._txt::before { margin-right: 3px; }
  
.brand-index-clock ._clock-watch ._face ._txt::after { margin-left: 3px; }
    
.brand-index-about ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-index-kids ._item ._texts ._txt, .brand-index-campaign ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-index-payment ._items ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  
.brand-menu-index-visuals ._item ._txt { font-size: 0.75rem; }
  
.brand-menu-index-reccomends ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  





.brand-index-about ._item ._texts ._cap { font-weight: bold; }

.brand-index-about ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-about ._item ._texts ._cap { font-size: 0.8125rem; }
  



/*color  */
.brand-menu-index-visuals ._item ._cap {color: #ff0;}

.brand-menu-index-visuals ._item ._cap::before {color: #ff0;}

.brand-menu-ranking-main ._texts ._cap {color: #d2000f;}




.mod-link-arrow::before {color: #d2000f;}

a[target=_blank] .mod-link-arrow:not(.mod-icon-pdf)::after,

a[target=_blank] .mod-link-arrow::after,

a[target=_blank].mod-link-arrow:not(.mod-icon-pdf)::after,

a[target=_blank].mod-link-arrow::after {color: #d2000f;}





.brand-index-clock ._clock-watch ._face ._txt::before,

.brand-index-clock ._clock-watch ._face ._txt::after { background-color: #d2000f;}

.brand-index-clock ._clock-dial ._item ._txt { background-color: #d2000f;}
  
.brand-index-clock ._clock-dial ._item ._txt::before { border-color: transparent transparent transparent #d2000f; }
}



.mod-link-color-brand a {color: #d2000f;}





/*CMMON*/
/* common */
.mod-btn.mod-btn-red{border: 2px #d2000f solid;background-color: #d2000f;}
.mod-btn.mod-btn-white::after {color: #d2000f;}
.mod-btn.mod-btn-#ffea98 {border: 2px #d2000f solid;background-color: #d2000f;}
.mod-btn.mod-btn-icn-search::before,
.mod-btn.mod-btn-icn-file::before {color: #d2000f;}
.mod-block-anno {border: 2px solid #d2000f;}.mod-text-color-brand {color: #d2000f;}
.mod-bg-color-brand {background-color: #d2000f;}
.mod-link-color-brand a {color: #d2000f;}
.mod-link-arrow::before {color: #d2000f;}
.mod-link-menu::before {color: #d2000f;}
a[target=_blank] .mod-link-arrow:not(.mod-icon-pdf)::after,
a[target=_blank] .mod-link-arrow::after,
a[target=_blank].mod-link-arrow:not(.mod-icon-pdf)::after,
a[target=_blank].mod-link-arrow::after {color: #d2000f;}
a[target=_blank] .mod-link-menu::after,
a[target=_blank].mod-link-menu::after {color: #d2000f;}
.mod-btn.mod-btn-toggle{color: #d2000f;}
.mod-btn.mod-btn-toggle::before,
.mod-btn.mod-btn-toggle::after{background-color: #d2000f;}
/*ul*/
.brand-common-title ._links ul { margin: 0; }

.brand-common-recents ul { list-style: none; padding: 0; margin: 0; }

.brand-common-wisywig ul { margin: 1em 0; padding: 0 0 0 1em; }

.brand-common-wisywig ul.mod-list-notes li { color: #888; font-size: 0.75rem; }

.brand-common-wisywig ul.mod-list-anno li { color: red; font-size: 0.875rem; }

.brand-common-title ._links ul { margin: 0; }
  
.brand-common-title ._links ul { margin: 0; }
 


/*PAGES*/

.brand-index-about ._item ._texts ._cap { font-weight: bold; }

.brand-index-about ._item ._texts ._txt { color: #000; }

.brand-index-about ._item ._texts { padding: 20px; }
  
.brand-index-about ._item ._texts ._cap { font-size: 1.25rem; }
  
.brand-index-about ._item ._texts ._txt { font-size: 1rem; margin-top: 10px; }
  
.brand-index-about ._item ._texts { padding: 10px; }
  
.brand-index-about ._item ._texts ._cap { font-size: 0.8125rem; }
  
.brand-index-about ._item ._texts ._txt { font-size: 0.75rem; margin-top: 2px; }
  

